<section id="serieTv" style="background-image: url('/assets/pict/media/serieTV/theLastOfUsSerie.jpg');">
    <div class="navbar navbar-expand">
        <div class="navbar-brand">
            <img src="/assets/pict/main/theLastOfUsLogo.png" [routerLink]="'/main'" class="img-fluid w-100" alt="tlouLogo" />
        </div>
        <button id="btnBar" type="button" data-bs-toggle="offcanvas" data-bs-target="#showLigth" aria-controls="showLigth"><i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="#univers">UNIVERS</a>
                    <div class="dropdown-menu" id="univers">
                        <a href="#" class="dropdown-item" [routerLink]="'/factions'">FACTIONS</a>
                        <a href="#" class="dropdown-item" [routerLink]="'/infectes'">INFECTES</a>
                    </div>
                </li>
                <li class="nav-item"><a href="#" class="nav-link" [routerLink]="'/characters'">PERSONNAGES</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="#media">MEDIA</a>
                    <div class="dropdown-menu" id="media">
                        <a href="#" class="dropdown-item" [routerLink]="'/serieTv'">SERIE TV</a>
                        <a href="#" class="dropdown-item" [routerLink]="'/americanDreams'">AMERICAN DREAMS</a>
                    </div>
                </li>
            <button type="button" id="btnSubscribe" [routerLink]="'/subscribe'">ABONNEMENT</button>
            </ul>
        </div>
    </div>
    <div class="containSerieTv">
        <img src="/assets/pict/media/serieTV/theLastOfUsSerieLogo.png" class="img-fluid w-100" id="serieTvLogo" alt="serieTvLogo" />
        <p class="pitch">Cette série écrit par Neil Druckmann et produit par Craig Marzin a pour but d’approndir encore les histoires des jeux que ce soit l’univers, les personnages.</p>
    </div>
    <div class="listEpisode">
        <div id="carouselListEpisodes" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-4" *ngFor="let arc1 of arcFirst">
                            <img [src]="arc1.episode" class="img-fluid w-100" />
                            <span class="nameEpisode">
                                <p class="title">{{arc1.title}}</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4" *ngFor="let arc2 of arcSecond">
                            <img [src]="arc2.episode" class="img-fluid w-100" />
                            <span class="nameEpisode">
                                <p class="title">{{arc2.title}}</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4" *ngFor="let arc3 of arcThird">
                            <img [src]="arc3.episode" class="img-fluid w-100" />
                            <span class="nameEpisode">
                                <p class="title">{{arc3.title}}</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselListEpisodes" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselListEpisodes" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="footer">
        <p class="copy">© The Last Of Us 2024</p>
    </div>

    <app-show-ligth></app-show-ligth>
</section>