* {
  box-sizing: border-box;
}

body {
  margin: auto;
  display: block;
}

#main #carouselTlou .carousel-inner .carousel-item .d-block {
  height: 100vh;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar .navbar-brand .img-fluid {
  height: 300px;
  max-width: 250px;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar #btnBar {
  display: none;
  border: none;
  cursor: pointer;
  font-size: 1.4em;
  color: azure;
  background: transparent;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar .collapse {
  margin-right: 15px;
  justify-content: end;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar .collapse .navbar-nav {
  margin-right: 10px;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar .collapse .navbar-nav .nav-item .dropdown-toggle {
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar .collapse .navbar-nav .nav-item #univers .dropdown-item, #main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar .collapse .navbar-nav .nav-item #media .dropdown-item {
  overflow: auto;
  max-width: 300px;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: black;
  text-decoration: none;
  text-shadow: 1px 0px 0px black;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar .collapse .navbar-nav #btnSubscribe {
  padding: 6px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  margin-top: -4px;
  border-radius: 5px;
  color: azure;
  background: transparent;
  border: 1px solid azure;
  text-shadow: 1px 0px 3px black;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar .collapse .navbar-nav #btnSubscribe:hover {
  color: black;
  background: azure;
  text-shadow: 1px 0px 0px black;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .moreInfo {
  top: 85%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .moreInfo #btnInfo {
  padding: 6px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  margin-top: -4px;
  border-radius: 5px;
  color: azure;
  background: transparent;
  border: 1px solid azure;
  text-shadow: 1px 0px 3px black;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .moreInfo #btnInfo:hover {
  color: black;
  background-color: azure;
  text-shadow: 1px 0px 0px black;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .footer {
  top: 98%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#main #carouselTlou .carousel-inner .carousel-item .containTlou .footer .copy {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-shadow: 1px 0px 3px black;
}
#main #carouselTlou .carousel-indicators {
  margin: 55px auto;
}

#showLigth {
  height: 530px;
  width: 100%;
  max-width: 300px;
  border-radius: 0px 0px 40px 0px;
  border: 2px solid azure;
  background-color: black;
}
#showLigth .offcanvas-header .btn-close {
  position: relative;
  left: 90%;
  border: none;
  color: azure;
  background-color: azure;
}
#showLigth .offcanvas-body .img-fluid {
  height: 570px;
  margin: -180px auto;
}
#showLigth .offcanvas-body .navbar-nav {
  margin-top: 20px;
  line-height: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#showLigth .offcanvas-body .navbar-nav .nav-item .dropdown-toggle, #showLigth .offcanvas-body .navbar-nav .nav-item .nav-link {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#showLigth .offcanvas-body .navbar-nav .nav-item #univers {
  height: 100px;
}
#showLigth .offcanvas-body .navbar-nav .nav-item #univers .dropdown-item {
  overflow: auto;
  max-width: 300px;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: black;
  text-decoration: none;
  text-shadow: 1px 0px 0px black;
}
#showLigth .offcanvas-body .navbar-nav .nav-item #media {
  height: 100px;
}
#showLigth .offcanvas-body .navbar-nav .nav-item #media .dropdown-item {
  overflow: auto;
  max-width: 300px;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: black;
  text-decoration: none;
  text-shadow: 1px 0px 0px black;
}
#showLigth .offcanvas-body .navbar-nav #btnSubscribe {
  display: block;
  padding: 6px;
  max-width: 180px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  margin: 7px auto;
  margin-right: 55px;
  border-radius: 5px;
  color: azure;
  background: transparent;
  border: 1px solid azure;
  text-shadow: 1px 0px 3px black;
}

#suscribe {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/pict/main/theLastOfUsLuciol.jpg");
}
#suscribe #btnCloseSuscribe {
  border: none;
  font-size: 1.8em;
  color: azure;
  background: transparent;
}
#suscribe .containSuscribe {
  top: 45%;
  left: 50%;
  max-width: 1200px;
  text-align: center;
  position: relative;
  transform: translate(-50%, -50%);
}
#suscribe .containSuscribe .suscribe {
  font-size: 1.8em;
  font-weight: bold;
  color: azure;
}
#suscribe .containSuscribe .info {
  font-size: 1.6em;
  color: azure;
}
#suscribe .containSuscribe form .row {
  margin: 40px auto;
  max-width: 600px;
}
#suscribe .containSuscribe form .row .col-lg-8 #adress {
  width: 100%;
  border: none;
  border-radius: 5px;
  color: azure;
  background: azure;
}
#suscribe .containSuscribe form .row .col-lg-4 #btnSuscribe {
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 3px;
  color: azure;
  background: transparent;
  border: 1px solid azure;
}
#suscribe .containSuscribe form .row .col-lg-4 #btnSuscribe:hover {
  color: black;
  background: azure;
  text-shadow: 1px 0px 0px black;
}

#tlou .show {
  height: 940px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#tlou .show .navbar {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
#tlou .show .navbar .navbar-brand .img-fluid {
  height: 300px;
  max-width: 250px;
}
#tlou .show .navbar #btnBar {
  display: none;
  border: none;
  cursor: pointer;
  font-size: 1.4em;
  color: azure;
  background: transparent;
}
#tlou .show .navbar .collapse {
  margin-right: 15px;
  justify-content: end;
}
#tlou .show .navbar .collapse .navbar-nav {
  margin-right: 10px;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
#tlou .show .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#tlou .show .navbar .collapse .navbar-nav .nav-item .dropdown-toggle {
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#tlou .show .navbar .collapse .navbar-nav .nav-item #univers, #tlou .show .navbar .collapse .navbar-nav .nav-item #media {
  height: 80px;
}
#tlou .show .navbar .collapse .navbar-nav .nav-item #univers .dropdown-item, #tlou .show .navbar .collapse .navbar-nav .nav-item #media .dropdown-item {
  overflow: auto;
  max-width: 300px;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: black;
  text-decoration: none;
  text-shadow: 1px 0px 0px black;
}
#tlou .show .navbar .collapse .navbar-nav #btnSuscribe {
  padding: 6px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  margin-top: -4px;
  border-radius: 5px;
  color: azure;
  background: transparent;
  border: 1px solid azure;
  text-shadow: 1px 0px 3px black;
}
#tlou .show .navbar .collapse .navbar-nav #btnSuscribe:hover {
  color: black;
  background: azure;
  text-shadow: 1px 0px 0px black;
}
#tlou .show .logo {
  max-width: 600px;
  top: 0%;
  left: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
}
#tlou .show .logo .img-fluid {
  height: 300px;
  max-width: 640px;
}
#tlou .show .logo #btnBuy {
  margin: -22px auto;
  display: block;
  width: 100%;
  cursor: pointer;
  max-width: 100px;
  font-size: 1.2em;
  color: azure;
  border-radius: 3px;
  background: transparent;
  border: 1px solid azure;
}
#tlou .show .pitch {
  margin: 150px auto;
  width: 100%;
  display: block;
  max-width: 1200px;
}
#tlou .show .pitch .sentence {
  text-align: center;
  font-size: 1.4em;
  color: azure;
  text-shadow: 1px 0px 3px black;
}
#tlou .experience {
  height: 425px;
  padding: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#tlou .experience .livePlayer {
  margin: 10px auto;
  text-align: center;
  color: azure;
  text-shadow: 1px 0px 3px black;
}
#tlou .experience .row {
  padding: 10px;
  margin: 6px auto;
}
#tlou .experience .row .col-lg-4 .img-fluid {
  height: 285px;
  max-width: 550px;
  border: none;
  border-radius: 5px;
}
#tlou .experience .row .col-lg-4 .slogan {
  margin: 6px auto;
  text-align: center;
}
#tlou .experience .row .col-lg-4 .slogan .sentenceLive {
  font-size: 1.2em;
  color: azure;
}
#tlou .media {
  height: 880px;
  padding: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#tlou .media .carousel .carousel-indicators {
  bottom: -25%;
  left: 5%;
  position: absolute;
}
#tlou .media .carousel .carousel-indicators .row {
  margin: auto;
  text-align: center;
}
#tlou .media .carousel .carousel-indicators .row .col-lg-2 {
  max-width: 600px;
  margin-left: -10px;
  margin-right: -10px;
}
#tlou .media .carousel .carousel-indicators .row .col-lg-2 .img-fluid {
  height: 100px;
}
#tlou .media .carousel .carousel-inner {
  margin: 60px auto;
}
#tlou .media .carousel .carousel-inner .carousel-item {
  text-align: center;
}
#tlou .media .carousel .carousel-inner .carousel-item .img-fluid {
  height: 600px;
  max-width: 1080px;
}
#tlou .media .carousel .carousel-inner .carousel-item video {
  height: 600px;
  max-width: 1200px;
}
#tlou .media .footer {
  margin: 160px auto;
}
#tlou .media .footer .copy {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-shadow: 1px 0px 3px black;
}

#infectes {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#infectes .navbar {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
#infectes .navbar .navbar-brand .img-fluid {
  height: 300px;
  max-width: 250px;
}
#infectes .navbar #btnBar {
  display: none;
  border: none;
  cursor: pointer;
  font-size: 1.4em;
  color: azure;
  background: transparent;
}
#infectes .navbar .collapse {
  margin-right: 15px;
  justify-content: end;
}
#infectes .navbar .collapse .navbar-nav {
  margin-right: 10px;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
#infectes .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#infectes .navbar .collapse .navbar-nav .nav-item .dropdown-toggle {
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#infectes .navbar .collapse .navbar-nav #btnSubscribe {
  padding: 6px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  margin-top: -4px;
  border-radius: 5px;
  color: azure;
  background: transparent;
  border: 1px solid azure;
  text-shadow: 1px 0px 3px black;
}
#infectes .navbar .collapse .navbar-nav #btnSubscribe:hover {
  color: black;
  background: azure;
}
#infectes .containInfectes {
  height: 350px;
  margin: -180px auto;
}
#infectes .containInfectes .different {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: azure;
  text-shadow: 1px 0px 3px black;
}
#infectes .containInfectes .people .row {
  width: 100%;
  margin: 50px auto;
}
#infectes .containInfectes .people .row .col-lg-2 {
  padding: 10px 20px;
}
#infectes .containInfectes .people .row .col-lg-2 .img-fluid {
  height: 450px;
  max-width: 670px;
}
#infectes .containInfectes .people .row .col-lg-2 .types {
  margin: 20px auto;
}
#infectes .containInfectes .people .row .col-lg-2 .types .name {
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  color: azure;
  text-shadow: 1px 0px 3px black;
}
#infectes .containInfectes #btnVideo {
  padding: 6px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: -35px auto;
  border-radius: 5px;
  color: azure;
  background: transparent;
  border: 1px solid azure;
  text-shadow: 1px 0px 3px black;
}
#infectes .containInfectes #btnVideo .hrefVideo {
  color: azure;
  text-decoration: none;
}
#infectes .containInfectes #btnVideo .hrefVideo:hover {
  color: black;
  text-shadow: 1px 0px 0px black;
}
#infectes .containInfectes #btnVideo:hover {
  background-color: azure;
}
#infectes .footer {
  top: 97%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#infectes .footer .copy {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-shadow: 1px 0px 3px black;
}

#factions {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#factions .navbar {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
#factions .navbar .navbar-brand .img-fluid {
  height: 300px;
  max-width: 250px;
}
#factions .navbar #btnBar {
  display: none;
  border: none;
  cursor: pointer;
  font-size: 1.4em;
  color: azure;
  background: transparent;
}
#factions .navbar .collapse {
  margin-right: 15px;
  justify-content: end;
}
#factions .navbar .collapse .navbar-nav {
  margin-right: 10px;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
#factions .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#factions .navbar .collapse .navbar-nav .nav-item .dropdown-toggle {
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#factions .navbar .collapse .navbar-nav #btnSubscribe {
  padding: 6px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  margin-top: -4px;
  border-radius: 5px;
  color: azure;
  background: transparent;
  border: 1px solid azure;
  text-shadow: 1px 0px 3px black;
}
#factions .navbar .collapse .navbar-nav #btnSubscribe:hover {
  color: black;
  background: azure;
  text-shadow: 1px 0px 0px black;
}
#factions .containFactions {
  top: 55%;
  left: 50%;
  width: 2000px;
  position: absolute;
  transform: translate(-50%, -50%);
}
#factions .containFactions .different {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: azure;
  margin: -60px auto;
  text-shadow: 1px 0px 3px black;
}
#factions .containFactions .row {
  top: 10%;
  left: 50%;
  position: relative;
  transform: translate(-42%, 10%);
  margin: 60px auto;
}
#factions .containFactions .row .col-lg-2 {
  padding: 10px 20px;
}
#factions .containFactions .row .col-lg-2 .img-fluid {
  height: 450px;
  max-width: 700px;
}
#factions .containFactions .row .col-lg-2 .types {
  margin: 20px auto;
}
#factions .containFactions .row .col-lg-2 .types .name {
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  color: azure;
  text-shadow: 1px 0px 3px black;
}
#factions .footer {
  top: 96%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
#factions .footer .copy {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-shadow: 1px 0px 3px black;
}
#factions .modal #btnCloseModal {
  top: 0%;
  left: 97%;
  border: none;
  font-size: 1.6em;
  color: azure;
  position: absolute;
  background: transparent;
}
#factions .modal #btnCloseModal:hover {
  transform: scale(1.2);
}
#factions .modal .modal-dialog .modal-content {
  border: 1px solid azure;
  background-color: black;
}
#factions .modal .modal-dialog .modal-content .modal-body .img-fluid {
  height: 450px;
}
#factions .modal .modal-dialog .modal-content .modal-body .info {
  padding-top: 5px;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: -10px;
  font-weight: bold;
  color: azure;
  text-shadow: 1px 0px 3px black;
}

#characters {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#characters .navbar {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
#characters .navbar .navbar-brand .img-fluid {
  height: 300px;
  max-width: 250px;
}
#characters .navbar #btnBar {
  display: none;
  border: none;
  cursor: pointer;
  font-size: 1.4em;
  color: azure;
  background: transparent;
}
#characters .navbar .collapse {
  margin-right: 15px;
  justify-content: end;
}
#characters .navbar .collapse .navbar-nav {
  margin-right: 10px;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
#characters .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#characters .navbar .collapse .navbar-nav .nav-item .dropdown-toggle {
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#characters .navbar .collapse .navbar-nav #btnSubscribe {
  padding: 6px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  margin-top: -4px;
  border-radius: 5px;
  color: azure;
  background: transparent;
  border: 1px solid azure;
  text-shadow: 1px 0px 3px black;
}
#characters .navbar .collapse .navbar-nav #btnSubscribe:hover {
  color: black;
  background: azure;
}
#characters .containCharacters .meetCharacters {
  margin: -120px auto;
}
#characters .containCharacters .meetCharacters .meet {
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 3px 3px black;
}
#characters .containCharacters .meetCharacters .listBtnCharacters {
  height: 50px;
  margin: auto;
  max-width: 850px;
  display: flex;
  flex-direction: row;
}
#characters .containCharacters .meetCharacters .listBtnCharacters .row {
  text-align: center;
  margin: auto;
}
#characters .containCharacters .meetCharacters .listBtnCharacters .row .col-lg-4 .mainCharacters, #characters .containCharacters .meetCharacters .listBtnCharacters .row .col-lg-4 .secondaryCharacters {
  top: 50%;
  left: 50%;
  position: relative;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  transition: all 0.25ms ease;
  transform: translate(-50%, -50%);
  text-shadow: 1px 2px 3px black;
}
#characters .containCharacters .showCharacters {
  margin: 150px auto;
}
#characters .containCharacters .showCharacters .presentCharacters {
  height: 400px;
  overflow: auto;
}
#characters .containCharacters .showCharacters .presentCharacters .row {
  margin: auto;
  max-width: 1700px;
}
#characters .containCharacters .showCharacters .presentCharacters .row .col-lg-3 .img-fluid {
  margin-top: 20px;
  height: 380px;
  cursor: pointer;
  max-width: 600px;
  border-radius: 20px;
  border: 1px solid azure;
}
#characters .containCharacters .showCharacters .presentCharacters .row .col-lg-4 {
  margin: auto;
  text-align: center;
}
#characters .containCharacters .showCharacters .presentCharacters .row .col-lg-4 .img-fluid {
  margin-top: 20px;
  height: 380px;
  cursor: pointer;
  max-width: 450px;
  border-radius: 20px;
  border: 1px solid azure;
}
#characters .footer {
  top: 96%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
#characters .footer .copy {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-shadow: 1px 0px 3px black;
}
#characters .modal #btnCloseModal {
  top: 0%;
  left: 98%;
  border: none;
  font-size: 1.6em;
  color: azure;
  position: absolute;
  background: transparent;
}
#characters .modal #btnCloseModal:hover {
  transform: scale(1.2);
}
#characters .modal .modal-dialog .modal-content {
  border: 1px solid azure;
  background-color: black;
}
#characters .modal .modal-dialog .modal-content .modal-body .img-fluid {
  height: 420px;
}
#characters .modal .modal-dialog .modal-content .modal-body .name {
  font-size: 1.8em;
  font-weight: bold;
  margin: 10px auto;
  text-align: center;
  color: azure;
  text-shadow: 1px 0px 3px black;
}
#characters .modal .modal-dialog .modal-content .modal-body .info {
  height: 140px;
  overflow: auto;
  font-size: 1.3em;
  font-weight: bold;
  color: azure;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}

#serieTv {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#serieTv .navbar {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
#serieTv .navbar .navbar-brand .img-fluid {
  height: 300px;
  max-width: 250px;
}
#serieTv .navbar #btnBar {
  display: none;
  border: none;
  cursor: pointer;
  font-size: 1.4em;
  color: azure;
  background: transparent;
}
#serieTv .navbar .collapse {
  margin-right: 15px;
  justify-content: end;
}
#serieTv .navbar .collapse .navbar-nav {
  margin-right: 10px;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
#serieTv .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#serieTv .navbar .collapse .navbar-nav .nav-item .dropdown-toggle {
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#serieTv .navbar .collapse .navbar-nav .nav-item #univers .dropdown-item, #serieTv .navbar .collapse .navbar-nav .nav-item #media .dropdown-item {
  overflow: auto;
  max-width: 300px;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: black;
  text-decoration: none;
  text-shadow: 1px 0px 0px black;
}
#serieTv .navbar .collapse .navbar-nav #btnSubscribe {
  padding: 6px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  margin-top: -4px;
  border-radius: 5px;
  color: azure;
  background: transparent;
  border: 1px solid azure;
  text-shadow: 1px 0px 3px black;
}
#serieTv .navbar .collapse .navbar-nav #btnSubscribe:hover {
  color: black;
  background: azure;
  text-shadow: 1px 0px 0px black;
}
#serieTv .containSerieTv {
  top: 40%;
  left: 20%;
  max-width: 600px;
  position: absolute;
  transform: translate(-50%, -50%);
}
#serieTv .containSerieTv #serieTvLogo {
  height: 250px;
  max-width: 600px;
}
#serieTv .containSerieTv .pitch {
  max-width: 850px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -17px;
  color: azure;
  text-shadow: 1px 0px 3px black;
}
#serieTv .listEpisode #carouselListEpisodes {
  top: 80%;
  left: 50%;
  padding: 20px;
  max-width: 2200px;
  position: absolute;
  transform: translate(-50%, -50%);
}
#serieTv .listEpisode #carouselListEpisodes .carousel-inner .carousel-item .row {
  width: 1400px;
}
#serieTv .listEpisode #carouselListEpisodes .carousel-inner .carousel-item .row .col-lg-4 .img-fluid {
  height: 200px;
  cursor: pointer;
  max-width: 800px;
  border-radius: 20px;
  border: 1px solid azure;
}
#serieTv .listEpisode #carouselListEpisodes .carousel-inner .carousel-item .row .col-lg-4 .img-fluid:hover {
  opacity: 0.8;
}
#serieTv .listEpisode #carouselListEpisodes .carousel-inner .carousel-item .row .col-lg-4 .nameEpisode .title {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-shadow: 1px 0px 3px black;
}
#serieTv .listEpisode #carouselListEpisodes .carousel-control-prev {
  margin-top: -20px;
  margin-left: -120px;
}
#serieTv .listEpisode #carouselListEpisodes .carousel-control-next {
  margin-top: -20px;
  margin-right: -120px;
}
#serieTv .footer {
  top: 97%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#serieTv .footer .copy {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-shadow: 1px 0px 3px black;
}

#americanDreams {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#americanDreams .navbar {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
#americanDreams .navbar .navbar-brand .img-fluid {
  height: 300px;
  max-width: 250px;
}
#americanDreams .navbar #btnBar {
  display: none;
  border: none;
  cursor: pointer;
  font-size: 1.4em;
  color: azure;
  background: transparent;
}
#americanDreams .navbar .collapse {
  margin-right: 15px;
  justify-content: end;
}
#americanDreams .navbar .collapse .navbar-nav {
  margin-right: 10px;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
#americanDreams .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#americanDreams .navbar .collapse .navbar-nav .nav-item .dropdown-toggle {
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-decoration: none;
  text-shadow: 1px 0px 3px black;
}
#americanDreams .navbar .collapse .navbar-nav .nav-item #univers .dropdown-item, #americanDreams .navbar .collapse .navbar-nav .nav-item #media .dropdown-item {
  overflow: auto;
  max-width: 300px;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -7px;
  color: black;
  text-decoration: none;
  text-shadow: 1px 0px 0px black;
}
#americanDreams .navbar .collapse .navbar-nav #btnSubscribe {
  padding: 6px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  margin-top: -4px;
  border-radius: 5px;
  color: azure;
  background: transparent;
  border: 1px solid azure;
  text-shadow: 1px 0px 3px black;
}
#americanDreams .containBd {
  top: 20%;
  left: 50%;
  height: 700px;
  max-width: 1600px;
  position: relative;
  transform: translate(-50%, -50%);
}
#americanDreams .containBd .row .col-lg-4 {
  text-align: center;
}
#americanDreams .containBd .row .col-lg-4 .img-fluid {
  height: 650px;
  max-width: 460px;
  border-radius: 5px;
  border: 0px solid azure;
}
#americanDreams .containBd .row .col-lg-8 {
  margin: 100px auto;
}
#americanDreams .containBd .row .col-lg-8 .story {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -12px;
  line-height: 40px;
  color: azure;
  text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0, 0, 0, 0.15), 2px 2px 2px rgba(206, 89, 55, 0);
}
#americanDreams .containBd .row .col-lg-8 .listPict .row {
  margin: auto;
  max-width: 800px;
}
#americanDreams .containBd .row .col-lg-8 .listPict .row .col-lg-3 .img-fluid {
  height: 200px;
  max-width: 300px;
  cursor: pointer;
  opacity: 0.8;
}
#americanDreams .containBd .row .col-lg-8 .listPict .row .col-lg-3 .img-fluid:hover {
  opacity: 1;
}
#americanDreams .containBd .row .col-lg-8 #btnBuy {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 30px auto;
  border-radius: 5px;
  color: azure;
  background: transparent;
  border: 1px solid azure;
}
#americanDreams .containBd .row .col-lg-8 #btnBuy:hover {
  color: black;
  background: azure;
  text-shadow: 1px 0px 0px black;
}
#americanDreams .footer {
  top: 97%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#americanDreams .footer .copy {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: azure;
  text-shadow: 1px 0px 3px black;
}

@media screen and (max-width: 1024px) {
  #main #carouselTlou .carousel-inner .carousel-item .d-block {
    max-width: 100%;
  }
  #tlou .show .logo {
    max-width: 600px;
    top: 0%;
    left: 45%;
  }
  #tlou .media {
    height: 860px;
  }
  #tlou .media .carousel {
    margin: -10px auto;
  }
  #tlou .media .carousel .carousel-indicators {
    left: -9%;
    width: 1000px;
  }
  #tlou .media .carousel .carousel-inner .carousel-item .img-fluid {
    max-width: 950px;
  }
  #tlou .media .carousel .carousel-inner .carousel-item video {
    max-width: 950px;
  }
  #infectes .containInfectes .people {
    width: 1000px;
    margin: 0px auto;
    overflow: auto;
  }
  #infectes .containInfectes .people .row {
    top: 50%;
    left: 40%;
    height: 550px;
    overflow: auto;
    width: 1700px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  #infectes .containInfectes #btnVideo {
    margin: 15px auto;
  }
}
@media screen and (max-width: 970px) {
  #main #carouselTlou .carousel-inner .carousel-item .d-block {
    max-width: 100%;
  }
  #main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar {
    justify-content: space-between;
  }
  #main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar #btnBar {
    right: 2%;
    display: block;
    position: absolute;
  }
  #main #carouselTlou .carousel-inner .carousel-item .containTlou .navbar .collapse .navbar-nav {
    display: none;
  }
  #tlou .show .navbar {
    justify-content: space-between;
  }
  #tlou .show .navbar #btnBar {
    right: 2%;
    display: block;
    position: absolute;
  }
  #tlou .show .navbar .collapse .navbar-nav {
    display: none;
  }
  #infectes .navbar {
    justify-content: space-between;
  }
  #infectes .navbar #btnBar {
    right: 2%;
    display: block;
    position: absolute;
  }
  #infectes .navbar .collapse .navbar-nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #main #carouselTlou .carousel-inner .carousel-item .d-block {
    width: 100%;
  }
  #suscribe .containSuscribe {
    top: 48%;
    max-width: 600px;
  }
  #suscribe .containSuscribe .suscribe {
    font-size: 1.7em;
  }
  #suscribe .containSuscribe form {
    margin: -14px auto;
  }
  #suscribe .containSuscribe form .row .col-lg-8 .form-control {
    margin: auto;
    max-width: 60%;
  }
  #suscribe .containSuscribe form .row .col-lg-4 #btnSuscribe {
    margin: 20px auto;
  }
  #tlou .show .navbar #btnBar {
    margin-right: 15px;
  }
  #tlou .show .logo {
    max-width: 600px;
    top: 10%;
    left: 13%;
  }
  #tlou .show .pitch {
    max-width: 650px;
  }
  #tlou .show .pitch .sentence {
    margin: -10px auto;
    font-size: 1.2em;
  }
  #tlou .experience .row {
    height: 340px;
    overflow: auto;
    text-align: center;
  }
  #tlou .media {
    height: 1260px;
  }
  #tlou .media .carousel {
    margin: -10px auto;
  }
  #tlou .media .carousel .carousel-indicators {
    left: 5%;
    width: 450px;
    bottom: -88%;
    margin: auto;
  }
  #tlou .media .carousel .carousel-indicators .row {
    margin: auto;
    height: 500px;
    overflow: auto;
  }
  #tlou .media .carousel .carousel-indicators .row .col-lg-2 .img-fluid {
    height: 200px;
  }
  #tlou .media .carousel .carousel-inner .carousel-item .img-fluid {
    max-width: 950px;
  }
  #tlou .media .carousel .carousel-inner .carousel-item video {
    margin-top: -80px;
    margin-bottom: -20px;
    height: 680px;
    max-width: 750px;
  }
  #tlou .media .footer {
    margin: 560px auto;
  }
  #infectes .containInfectes .people {
    height: 650px;
    width: 600px;
    margin: 0px auto;
    overflow: auto;
  }
  #infectes .containInfectes .people .row {
    top: 2%;
    left: -7%;
    height: 580px;
    overflow: auto;
    width: 740px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  #infectes .containInfectes .people .row .col-lg-2 {
    margin-left: -20px;
    margin-right: 20px;
  }
  #infectes .containInfectes .people .row .col-lg-2 .img-fluid {
    top: 45%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    max-width: 400px;
    height: 480px;
  }
  #infectes .containInfectes #btnVideo {
    margin: -55px auto;
  }
}
@media screen and (max-width: 425px) {
  #main #carouselTlou .carousel-inner .carousel-item .d-block {
    max-width: 100%;
  }
  #main #carouselTlou .carousel-inner .carousel-item .containTlou .footer .copy {
    font-size: 1.2em;
  }
  #tlou .show .logo {
    max-width: 400px;
    top: -20%;
    left: 3%;
    height: 120px;
  }
  #tlou .show .pitch {
    top: 22%;
    position: relative;
  }
  #tlou .show .pitch .sentence {
    margin: auto;
    height: 120px;
    overflow: auto;
    font-size: 1.2em;
    max-width: 360px;
  }
  #tlou .experience {
    height: 410px;
  }
  #tlou .experience .livePlayer {
    font-size: 1.5em;
  }
  #tlou .experience .row {
    height: 330px;
    overflow: auto;
    text-align: center;
  }
  #tlou .media {
    height: 860px;
  }
  #tlou .media .carousel {
    margin: -10px auto;
  }
  #tlou .media .carousel .carousel-indicators {
    left: 5%;
    width: 350px;
    bottom: -86%;
    margin: auto;
  }
  #tlou .media .carousel .carousel-indicators .row {
    margin: auto;
    height: 300px;
    overflow: auto;
  }
  #tlou .media .carousel .carousel-indicators .row .col-lg-2 .img-fluid {
    height: 200px;
  }
  #tlou .media .carousel .carousel-inner .carousel-item .img-fluid {
    height: 370px;
    max-width: 360px;
  }
  #tlou .media .carousel .carousel-inner .carousel-item video {
    margin-top: -120px;
    margin-bottom: -20px;
    height: 500px;
    max-width: 350px;
  }
  #tlou .media .footer {
    margin: 380px auto;
  }
  #infectes .containInfectes .people {
    height: 650px;
    width: 320px;
    margin: 0px auto;
    overflow: auto;
  }
  #infectes .containInfectes .people .row {
    top: 3%;
    left: -40%;
    height: 520px;
    overflow: auto;
    width: 620px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  #infectes .containInfectes .people .row .col-lg-2 {
    margin-left: -20px;
    margin-right: 20px;
  }
  #infectes .containInfectes .people .row .col-lg-2 .img-fluid {
    top: 45%;
    left: 48%;
    position: relative;
    transform: translate(-50%, -50%);
    max-width: 300px;
    height: 420px;
  }
  #infectes .containInfectes #btnVideo {
    margin: -95px auto;
  }
  #infectes .footer .copy {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 375px) {
  #main #carouselTlou .carousel-inner .carousel-item .d-block {
    max-width: 100%;
  }
  #main #carouselTlou .carousel-inner .carousel-item .containTlou .footer .copy {
    width: 200px;
    font-size: 1.2em;
  }
  #tlou .show .logo {
    max-width: 400px;
    top: -20%;
    left: 3%;
    height: 120px;
  }
  #tlou .show .pitch {
    top: 22%;
    position: relative;
  }
  #tlou .show .pitch .sentence {
    margin: auto;
    height: 120px;
    overflow: auto;
    font-size: 1.2em;
    max-width: 360px;
  }
  #tlou .experience {
    height: 420px;
  }
  #tlou .experience .livePlayer {
    font-size: 1.5em;
  }
  #tlou .experience .row {
    height: 330px;
    overflow: auto;
    text-align: center;
  }
  #tlou .media {
    height: 860px;
  }
  #tlou .media .carousel {
    margin: -10px auto;
  }
  #tlou .media .carousel .carousel-indicators {
    left: 5%;
    width: 350px;
    bottom: -98%;
    margin: auto;
  }
  #tlou .media .carousel .carousel-indicators .row {
    margin: auto;
    height: 300px;
    overflow: auto;
  }
  #tlou .media .carousel .carousel-indicators .row .col-lg-2 .img-fluid {
    height: 200px;
  }
  #tlou .media .carousel .carousel-inner .carousel-item .img-fluid {
    height: 340px;
    max-width: 320px;
  }
  #tlou .media .carousel .carousel-inner .carousel-item video {
    margin-top: -120px;
    margin-bottom: -20px;
    height: 500px;
    max-width: 350px;
  }
  #infectes .containInfectes {
    margin: -170px auto;
  }
  #infectes .containInfectes .people {
    height: 650px;
    width: 290px;
  }
  #infectes .containInfectes .people .row {
    top: 2%;
    left: -20%;
    height: 500px;
    overflow: auto;
    width: 480px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  #infectes .containInfectes .people .row .col-lg-2 {
    margin-left: -20px;
    margin-right: 20px;
  }
  #infectes .containInfectes .people .row .col-lg-2 .img-fluid {
    top: 45%;
    left: 48%;
    position: relative;
    transform: translate(-50%, -50%);
    max-width: 300px;
    height: 420px;
  }
  #infectes .containInfectes #btnVideo {
    margin: -105px auto;
  }
  #infectes .footer .copy {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 320px) {
  #main #carouselTlou .carousel-inner .carousel-item .d-block {
    max-width: 100%;
  }
  #tlou .show .navbar #btnBar {
    margin-right: 7px;
  }
  #tlou .show .logo {
    max-width: 400px;
    top: -20%;
    left: 3%;
    height: 120px;
  }
  #tlou .show .pitch {
    top: 22%;
    position: relative;
  }
  #tlou .show .pitch .sentence {
    margin: auto;
    height: 120px;
    overflow: auto;
    font-size: 1.2em;
    max-width: 360px;
  }
  #tlou .experience {
    height: 420px;
  }
  #tlou .experience .livePlayer {
    font-size: 1.5em;
  }
  #tlou .experience .row {
    height: 330px;
    overflow: auto;
    text-align: center;
  }
  #tlou .media {
    height: 860px;
  }
  #tlou .media .carousel {
    margin: -10px auto;
  }
  #tlou .media .carousel .carousel-indicators {
    left: 0%;
    width: 260px;
    bottom: -98%;
    margin: auto;
  }
  #tlou .media .carousel .carousel-indicators .row {
    margin: auto;
    height: 300px;
    overflow: auto;
  }
  #tlou .media .carousel .carousel-indicators .row .col-lg-2 .img-fluid {
    height: 200px;
  }
  #tlou .media .carousel .carousel-inner .carousel-item .img-fluid {
    height: 340px;
    max-width: 320px;
  }
  #tlou .media .carousel .carousel-inner .carousel-item video {
    margin-top: -120px;
    margin-bottom: -20px;
    height: 500px;
    max-width: 350px;
  }
}/*# sourceMappingURL=styles.css.map */